extends layout

block content
  h1= title
  p Welcome to #{title}, you are logged into <span style="color:blue;">#{team}</span> assets page. 
    a(href="/destroy_session") Click here 
    | to change teams.
  .row
    .container 
      form(method='post' action='/' enctype="multipart/form-data" class="form-horizontal")
        input(type="text" placeholder="site/team" name="filename" value="test" hidden)
        .form-group
          input( type='file' name='fileUploaded')
        .form-group
          button(type='submit' class="btn btn-primary") Upload
  .row
    .col-lg-12
      h1.page-header <span style="color:blue;">#{team}</span> Images
      .card-columns
        if files
          for file in files
              .card(id="img#{file.replace('.jpg' || '.png','')}" class="img_thumb" data-overlay="#overlay#{file.replace('.jpg' || '.png','')}")
                img.card-img-top(src='/images/#{team}/#{file}', alt='Card image' style=" display: block;width: 100%;height: 100%;object-fit: cover;")
                .card-block
                  p.card-text
                    a.card-link(href='/image/#{file}')
                      img(class="" src="/images/edit.png"  style="height:30px;width:30px;")
                    a.card-link(href="#"  class="html_link overlay-btn" onclick="copyToClipboard('#txthtml#{file.replace('.jpg' || '.png','')}')")
                      img(class="overlay-icon"  src="/images/html.png"  style="height:30px;width:30px;")
                    a.card-link(href="#" class="md_link overlay-btn" onclick="copyToClipboard('#txt#{file.replace('.jpg' || '.png','')}')" style="margin-left:4px;") 
                      img(class="overlay-icon" src="/images/markdown.png"  style="height:30px;width:30px;") 
                input(value="![file](https://img.tdevisscher.ca/images/#{team}/#{file})" id="txt#{file.replace('.jpg' || '.png','')}" hidden)
                textarea(id="txthtml#{file.replace('.jpg' || '.png','')}" hidden) &lt;img src=&quot;https://img.tdevisscher.ca/images/#{team}/#{file}&quot; /&gt; 
                script.
                  function copyToClipboard(element) {
                      var $temp = $('<input>');
                      $("body").append($temp);
                      console.log(element)
                      $temp.val($(element).val()).select();
                      document.execCommand("copy");
                      $temp.remove();
                      //element.preventDefault();
                  }              

  hr
  footer
    .row
      .col-lg-12
        p tdevisscher.ca 2016
  script(src='https://code.jquery.com/jquery-3.1.1.min.js')

